<div class="container"> 
  <%= for station <- @stations do %>
    <ul>
      <li>
        <%= station.frequency %> 
        <img src="<%= station.logo["href"] %>" />
      </li>
    </ul>
  <% end %>
</div>
