body {
  background-image: url("/images/background.png");
  color: white;
}

main {
  margin-top: 10px;
}

.media {
  padding: 20px;
  background: #0808083d;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(8, 8, 8, 0.24); 
}

